[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
spotipy = "*"
pandas = "*"
mpld3 = "*"
scipy = "*"
seaborn = "*"
gunicorn = "*"
flask-session = "*"
uuid = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
