<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>User Data</title>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/styles/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
	<!-- css styling taken from w3 schools templates -->
</head>

<body class="background_faded">
	<div>



		<div class='header'>
			<h1>[User] Top Artists and Data</h1>
			{% if data2 == 'short_term' %}
				<h2>Last Month</h2>
			{% elif data2 == 'medium_term' %}
				<h2>Last 6 Months</h2>
			{% else %}
				<h2>All Time</h2>
			{% endif %}
			<div>
				<div>
					<a type="button" class="btn btn-success" href='/user_data?time_range=short_term&search=artists'>Last Month</a>
					<a type="button" class="btn btn-success" href='/user_data?time_range=medium_term&search=artists'>Last 6 Months</a>
					<a type="button" class="btn btn-success" href='/user_data?time_range=long_term&search=artists'>All Time</a>
				</div>
				<a type="button" class="btn btn-success" href='/'>Home</a>
				<a type="button" class="btn btn-success" href='/user_data?time_range=short_term&search=tracks'>Top Tracks</a>
			</div>
		</div>


		<div class='row'>

			<div class='column_1'>
				<ol class='top_tracks_list'>
					{% for index, row in data.head(10).iterrows() %}


						<div class='list_item'>
							<li>
								<img src='{{ row["images"] }}' alt='number {{ index +1 }} artist: {{ row["artist"] }}' class='album_art' style="width: 10rem; height: 10rem;">



								<div class='song_info'>
									<div class='artist_name'>
										<span><b>{{ row["artist"] }}</b><span>
									</div>
								</div>
							</li>
						</div>

					{% endfor %}
				</ol>
			</div>


			<div class='column_2'>
				<h2 style="text-align:center">Genre Plots Go Here</h2>
<br>
<br>

				<div class='plots_list'>

				</div>

			</div>

			<div class='column_3'>

			</div>

		</div>

	</div>
</body>
<script>
	var data = document.getElementById("json_me");
	console.log(data);
</script>
</html>
