<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>User Data</title>
</head>
<body>
	<div>
		<button onclick="goBack()">Go Back</button>
<script>
function goBack() {
  window.history.back();
}
</script>

		<h1>Audio Features Distributions</h1>
		{{ summary|safe }}
		<h1>Top Tracks Data</h1>
		{{ data|safe }}
		<h1>Top Artists Data</h1>
		{{ data2|safe }}
	</div>
</body>
<script>
	var data = document.getElementById("json_me");
	console.log(data);
</script>
</html>