@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;600&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-image: url('/static/tile_background.png')
}

h1 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}

b {
    font-family: 'Raleway', sans-serif;
    font-weight:900;
}